<nav class="non-user-navigation">
	<ul>
		<li>
			<form action="/" method="get">
        <input class="button" type="submit" value="Home">
      </form>
		</li>
		<li>  
			<form action="\users\new" method="get">
        <input class="button" type="submit" value="Sign-Up">
      </form>
    </li>
		<li>
			<form action="\sessions\login" method="get">
        <input class="button" type="submit" value="Log-In">
      </form>
		</li>
	</ul>
</nav>