body {
	background-color: cornsilk;
	font-family: Garamond;
}

nav * {
	display: inline-block;
}

table {
	border: 1.8px dashed;
}

span {
	border: 1.8px dashed;
	padding: 1em;
}

td span {
	display: block;
  border: none;
	padding: 0;
}

td div {
	border: 1.8px dashed;
	margin-left: 1em;
	margin-right: 1em;
}

span #right-cow {
	padding-left: 1.2em;
}


table, th, tr  {
  border: 1px dashed;
  padding: 10px;
  border-collapse: separate; 
  border-spacing: 10px;
}

.clouds {
	margin: 0;
	position: absolute;
	margin-bottom: 50px;
}

.cloud {

}

td {
	margin: 10px;
	border: 1.8px dashed;
	font-size: 0;
}

#scene {
	float: left;
	width: 55em;
}

.hangman {
	float: right;
	margin-top: 7em;
}

#new-game {
	-webkit-appearance: none;
	background-color: cornsilk;
	border: 1.8px dashed;
	font-size: 20px;
	font-family: Garamond;
	float: right;
	margin-right: 8em;
	width: 100px;
	height: 50px;

}

#game-over {
	padding-top: 1em;
}

.cows {
	margin-top: 10em;
	float: left;
	padding-left: 4em;
	width: 38em;
}

#guess-display {
	margin-top: .7em;
	float: right;
	width: 20em;
}

.game-state {
  padding-top: 3em;
  padding-bottom: 3em;
}

#incorrect-guesses {
}

#guess-button {
	-webkit-appearance: none;
	background-color: cornsilk;
	border: 1.8px dashed;
	font-family: Garamond;
	float: left;
	font-size: 20px;
	text-align: center;
	width: 100px;
	height: 50px;
}

.text-box {
	border: 1.8px dashed;
	margin-left: 20px;
	background-color: cornsilk;
	text-align: center;
	width: 100px;
	font-size: 40px;
}