<h1>TicTacToe</h1>


<canvas id="canvas" width="450" height="450"
style="border:1px dashed #000000;"></canvas>


<script>












//////////////////////////////////////////abandon canvas/////////////////////////////////////





// 	var canvas = document.getElementById("canvas");



//   var tl = canvas.getContext("2d");
//   var tm = canvas.getContext("2d");
//   var tr = canvas.getContext("2d");

//   var ml = canvas.getContext("2d");
//   var mm = canvas.getContext("2d");
//   var mr = canvas.getContext("2d");

//   var bl = canvas.getContext("2d");
//   var bm = canvas.getContext("2d");
//   var br = canvas.getContext("2d");


// 	  tl.lineWidth = 4;
//       context.strokeStyle = 'black';
//       context.stroke();

// // top

//   tl.fillStyle = "lightblue";
//   tl.fillRect(20, 20, 120, 120);

//   tm.fillStyle = "lightblue";
//   tm.fillRect(160, 20, 120, 120);

//   tr.fillStyle = "lightblue";
//   tr.fillRect(300, 20, 120, 120);

// // middle

//   ml.fillStyle = "lightblue";
//   ml.fillRect(20, 160, 120, 120);

//   mm.fillStyle = "lightblue";
//   mm.fillRect(160, 160, 120, 120);

//   mr.fillStyle = "lightblue";
//   mr.fillRect(300, 160, 120, 120);

// // bottom 

//   bl.fillStyle = "lightblue";
//   bl.fillRect(20, 300, 120, 120);

//   bm.fillStyle = "lightblue";
//   bm.fillRect(160, 300, 120, 120);

//   br.fillStyle = "lightblue";
//   br.fillRect(300, 300, 120, 120);

</script>
