<h1>TicTacToe</h1>


<table id="table" width="450" height="450">
	<tr>
		<td>s</td>
	  <td>a</td>
	  <td>a</td>
	</tr>
	<tr>
		<td>b</td>
		<td>b</td>
		<td>b</td>
	</tr>
	<tr>
		<td>c</td>
		<td>c</td>
		<td>c</td>
	</tr>



</table>




















<!--  tried to do a 3d table. not worth it.

<table id="table" width="450" height="450">
  <tr>
  	<td><span>/</span><div>a</div><span>/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\</span><span>/\</span><span>/\</span></td>

  	<td><span>/</span><div>a</div><span>/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\</span><span>/\</span><span>/\</span></td>
  	<td><span>/</span><div>a</div><span>/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\</span><span>/\</span><span>/\</span></td>
  </tr>
  <tr>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  </tr>
  <tr>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  	<td><span>/</span><div>a</div><span>/\</span><span>/\</span><span>/\</span></td>
  </tr>
 -->



</table>

<script>


























//////////////////////////////////////////abandon canvas/////////////////////////////////////





// 	var canvas = document.getElementById("canvas");



//   var tl = canvas.getContext("2d");
//   var tm = canvas.getContext("2d");
//   var tr = canvas.getContext("2d");

//   var ml = canvas.getContext("2d");
//   var mm = canvas.getContext("2d");
//   var mr = canvas.getContext("2d");

//   var bl = canvas.getContext("2d");
//   var bm = canvas.getContext("2d");
//   var br = canvas.getContext("2d");


// 	  tl.lineWidth = 4;
//       context.strokeStyle = 'black';
//       context.stroke();

// // top

//   tl.fillStyle = "lightblue";
//   tl.fillRect(20, 20, 120, 120);

//   tm.fillStyle = "lightblue";
//   tm.fillRect(160, 20, 120, 120);

//   tr.fillStyle = "lightblue";
//   tr.fillRect(300, 20, 120, 120);

// // middle

//   ml.fillStyle = "lightblue";
//   ml.fillRect(20, 160, 120, 120);

//   mm.fillStyle = "lightblue";
//   mm.fillRect(160, 160, 120, 120);

//   mr.fillStyle = "lightblue";
//   mr.fillRect(300, 160, 120, 120);

// // bottom 

//   bl.fillStyle = "lightblue";
//   bl.fillRect(20, 300, 120, 120);

//   bm.fillStyle = "lightblue";
//   bm.fillRect(160, 300, 120, 120);

//   br.fillStyle = "lightblue";
//   br.fillRect(300, 300, 120, 120);

</script>
