<h1 id="moo">Hangman
  <% if @current_game.nil? %>
    <input action="/hangman/game" id="new-game" method="post" type="submit" value="New Game ?">
  <% end %>
</h1>



<!-- needs an if statement to disappear when game is played -->
<!-- also needs a 'play again' input -->

<div>
  
  

<div id="guess-display">

  <form id="guess-box" action="/hangman/game" method="post">
    <input type="hidden" name="_method" value="patch">
    <input class="text-box" type="text" name="guess">
    <input id="guess-button" type="submit" value="Guess">
  </form>

<!--   <div class='incorrect-guesses'></div> -->

  <div class="game-state">
    <%= @readable_game_state %>
  </div>

  <div id="incorrect-guesses" guess-no="<%= @incorrect_guesses.length unless @incorrect_guesses.nil? %>">
    <%= @incorrect_guesses.chars.join("&nbsp;&nbsp;") unless @incorrect_guesses.nil?%>
  </div>

  <% if @incorrect_guesses != nil && @incorrect_guesses.length >= 6 || !@gamestate.nil? %>
    <div id="game-over">
      <strong>Game Over!</strong> Press <strong>Enter</strong> to Continue
    </div>
  <% elsif !@current_game.nil? && @game_state == @current_game.word.word %>
    <div id="game-over">
      <strong>Great Job! You saved a human! Kind of. </strong> Press <strong>Enter</strong> to Continue
    </div>
  <% elsif @current_game.nil? %>
    <div id="game-over">Start a new Game!</div>
  <% else %>
  <% end %>

  <div id="word"><strong><%= @current_game.word.word unless @current_game.nil? %></strong></div>

</div>





<div id="scene">
	<div class="clouds"></div>
  <div class="hangman"></div>
  <div class="cows"></div>
</div>
</div>


<script>
$(function(){
  createsDisplay();
  createsCowDisplay();
  createsCloudDisplay();
  createHangmanGame();
  interpretGuess();
  incorrectGuesses();
  moo();
  playScript();


  $(document).on('keyup', function(e){
   if (e.which === 13) {
     $('form#guess-box').submit();
     return false
   } else {
     $("input[name='guess']").val(String.fromCharCode(e.keyCode))
   }
  });


  $(document).ready(function(){
    for (i = 0; i < 20; i++) {
      $(".clouds").animate({ 
        left: "+=700px",
      }, 80000 );
      $(".clouds").animate({ 
        left: "-=700px",
      }, 80000 );
    }
  })

})
</script>

